.blog-section{
    display: flex;
    justify-content: space-between;
    gap:2rem;
    margin-top:2vw;
}



.blog-section a {
    color:white;
    /* import */
}



.featured-post{
    display: flex;
    gap:1rem;
    align-items: stretch;
}






.blog{
    display: flex;
    flex-direction: column;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#blog-widget ul li{
    list-style: none;
    position:relative;
    padding-left:3vw;

}

#blog-widget ul li::before{
    content: "★";
    position:absolute;
    left:0;
    top:0;
    color:#ff6600;
    font-size:16px;
}

.latest {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 2rem;
    margin-top: 2vw;
}

.latest article {
    display: flex;
    flex-direction: row; /* side by side */
    gap: 1rem;           /* spacing between image & text */
    align-items: stretch; /* make both sides equal height */
}

.featured-post .post-thumbnail {
    flex: 0 0 50%;       /* lock thumbnail to 30% of article */
    overflow: hidden;
}

.latest .post-thumbnail{
    flex : 0 0 40%;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* crop nicely, keeps equal size */
    display: block;
}

.text-outro {
    flex: 1;             /* text fills the remaining space */
    display: flex;
    flex-direction: column;
}

.text-outro .read-time{
    margin-top:auto;
    background-color: blue;
    width: max-content;
    padding:0.2vw 0.2vw;
    border-radius:0.5vw;
}

.text-outro p {
    margin-top:2vh;

}

.post-tags{
    display: inline-flex;
    gap:0.5vw;
}

.post-tags li{
    background-color: rgb(58, 58, 103);
    padding: 0.2vw 0.2vw;
    border-radius:0.5vw;
    font-size:0.8rem;
}




@media (max-width:1000px){
    .latest {
        grid-template-columns: 1fr; /* only 1 article per row */
    }


   .featured-post{
    flex-direction: column;
   }

    .blog-section{
        flex-direction: column;
    }
     .post-thumbnail {
        width: 100%;
        height: auto;
    }

}
